%meta{charset: "UTF-8"}
// Creates a dataLayer above GTM tag
%script{ type: "text/javascript"}
  window.dataLayer = window.dataLayer || []
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

%script document.documentElement.className = 'html--js'

- if current_page.data.noindex
  %meta{ name: "robots", content: "noindex, follow" }
- else
  %meta{ name: "robots", content: "index, follow" }

%script{src: "//cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js", type: "text/javascript"}
%script{ type: "text/javascript" }
  mermaid.initialize({startOnLoad:true});

%title
  -
  #{current_page.data.title ? current_page.data.title : yield_content(:title)}
  \|
  = data.site.title

= partial "includes/layout/meta"

%link{rel: "alternate", type: "application/atom+xml", title: "Blog", href: "/atom.xml"}

%link{href: "/ico/favicon.ico", rel: "shortcut icon"}
- if current_page.data.canonical_path
  %link{ :rel => "canonical", :href => "https://handbook.dtone.engineering#{current_page.data.canonical_path}"} 

%link{rel: "stylesheet", href: font_url(current_page)}
%link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}

= stylesheet_link_tag :disable_animations if environment?(:test)
= stylesheet_link_tag :styles, :highlight
- if current_page.data.extra_css
  - current_page.data.extra_css.each do |css_name|
    = stylesheet_link_tag css_name
